{% load static %}

<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3 class="logo-text"><span>BridgeBenny</span></h3>
            <p>You don't have to conform to the ordinary. Be different and stand out.
            We can help you do that...at least with your outfits <i class="far fa-smile-wink"></i></p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> &nbsp; (372) 123 456 789</span>
                <span><i class="fas fa-envelope"></i> &nbsp; info@bridgebenny.com</span>
                <span><i class="fas fa-map-marker-alt"></i> &nbsp; 53 Pohja Puiestee, Tallinn, Est 11649</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h3>Quick Links</h3>
            <br>
            <ul>
                <a href="#"><li>My Account</li></a>
                <a href="#"><li>Pricing</li></a>
                <a href="#"><li>Our Partners</li></a>
                <a href="#"><li>Privacy and Policy</li></a>
                <a href="#"><li>FAQ</li></a>
            </ul>
        </div>
        <div class="footer-section links">
            <h3>Make money with us</h3>
            <br>
            <ul>
                <a href="#"><li>Sell on BridgeBenny</li></a>
                <a href="#"><li>Become an affiliate</li></a>
                <a href="#"><li>Advertise your products</li></a>
                <a href="#"><li>Supplier Policy</li></a>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h3>Contact Us</h3>
            <br>
            <form action="home.html" method="post">
                <input type="email" class="text-input contact-input" placeholder="Your email address...">
                <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
                <br>
                <button type="submit" class="btn btn-big">
                    <i class="fas fa-envelope"> Send</i>
                </button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
         <p>&copy; 2020. All rights reserved. BridgeBenny Stores.</p>
    </div>
</div>