{% load static %}

<title>BridgeBenny Stores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script type="text/javascript">
        var user = "{{ request.user }}"

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name) {
            //Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            //Loop through the array elements
            for(var i = 0; i < cookieArr.length; i++){
                var cookiePair = cookieArr[i].split("=");

                // Removing whitespace at the beginning of the cookie name
                // and compare it with the given string
                if(name == cookiePair[0].trim()) {
                    //Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }
             // Return null if not found
            return null;
        }

        var cart = JSON.parse(getCookie('cart'))

        if(cart == undefined){
            cart = {}
            console.log('Cart was created.')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"   //TO SET IT TO OUR BROWSER'S COOKIE
        }

        console.log('Cart: ', cart)
    </script>

<!-- setting the cookie in base.html will ensure that
a cookie will be created for every single page that we're on-->